.header
{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #888;
	background-color: #545652;
	float: left;
	color:#d5d5d5;
	margin-bottom: 100px;
	overflow:hidden;
}

.header-left
{
	float: left;
	margin-left: 20%;
}

.header-left .nav
{
	margin-right:50px;
	float: left;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}
.header-left .nav a
{
	color: #d5d5d5;
}

.header-left .nav a:hover
{
	color: white;
}

.header-left .nav a:active
{
	color: #f0ad4e;
}

.header-right
{
	width: 200px; 					/*TBD*/
	height: auto;
	float: right;
	padding-right: 20%;
}
.logout
{
	float: right;
	color:#d5d5d5;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}
.logout:hover
{
	color: white;
}

.logout:active
{
	color: #f0ad4e;
}

