
.content
{
	width: 100%;
	height: auto;
	float: left;
	color: white;
}

.content-in
{
	margin-left: 20%;
	margin-right: 20%;
}

.content-left, .content-right
{
	width: 40%;
	margin-right: 10%;
	box-shadow: 4px 2px 4px 2px #ccc;
	border-radius: 5px;
	float: left;
	background: #545652;
}


.content-left .list, .content-right .list
{
	background: #545652;
	width: 100%;
	padding-left: 10%;
}

.content-left .title, .content-right .title
{
	background: #2fa0ec;
	width: 100%;
	font-size: 24px;
	height: 60px;
	line-height: 60px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.content-left .list-item ,.content-right .list-item
{
	color:white ;
	background: #2fa0ec;
	font-size: 14px;
	width:80px;
	height: 80px;
	line-height:80px;
	float:left;
	margin:20px 20px;
	overflow:hidden;
	text-overflow: ellipsis;
	border-radius: 80px;
	white-space:nowrap;
}

.content-left .list-item:hover ,.content-right .list-item:hover
{
	border: 1px solid white;
}

/* Overlay style */
.overlay, .overlay-second {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 0;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 20px;
	height: 20px;
	position: fixed;
	right: 30px;
	top: 30px;
	overflow: hidden;
	border: none;
	text-indent: 200%;
	outline: none;
	z-index: 100;
	background: url("../img/cross.png") center center;
}

.overlay-second .overlay-second-close {
	width: 20px;
	height: 20px;
	position: fixed;
	left:30px;
	top:30px;
	overflow: hidden;
	border: none;
	text-indent: 200%;
	outline: none;
	z-index: 100;
	background: url("../img/cross.png") center center;
}

.overlay-contentpush {
	background: #545652;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}


.overlay-contentpush-second {
	background: #545652;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open, .overlay-contentpush-second.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	overflow: auto;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

.push-content
{
	width: 80%;/*TBD*/
	height: auto;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	color:#d5d5d5;
	padding-bottom: 50px;
}

.push-nav {
	float: left;
	width: 200px;
	font-size: 20px;
	color: #d5d5d5;
	border-right: solid 1px #d5d5d5;
}

.push-nav a
{
	color: white;
}

.push-nav a:hover
{
	color: #d5d5d5;
}

.push-nav ul li
{
	list-style: none;
	height: 50px;
	line-height: 50px;
}

.push-nav ul li:hover
{
	color: white;
}

.push-nav ul li button
{
	background: transparent;
	border: none;
	color: white;
}

.push-nav ul li button:hover
{
	color:#d5d5d5;
}

.refresh,.refresh-second
{
	background: transparent;
	border: none;
	color: white;
	position: fixed;
	right: 100px;
	top: 30px;
	font-size: 18px;
}

.push-post-list
{
	margin-left: 100px;
	width: 50%;
	float: left;
	overflow: hidden;
	font-size: 14px;
}

.push-post,.push-post-quora
{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	background: white;
	padding:10px;
	float: left;
	border-bottom: 1px solid #545652;
}

.post-title
{
	color: #545652;
	padding-bottom: 10px;
}

.post-title img
{
	width: 50px;
	height: 50px;
	float: left;
}

.post-title .name
{
	font-size: 20px;
	height: 50px;
	width: 200px;
	line-height:50px ;
	text-indent: 20px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.post-title .time
{
	color: gainsboro;
	font-size: 10px;
	text-indent: 70px;
	float: left;
	width: auto;
	height: 20px;
	line-height: 20px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.post-info
{
	color: #2f3238;
	font-size: 14px;
	float: left;
	width: 100%;
	height: auto;
	padding-left: 10px;
	text-indent: 10%;
}

.push-img
{
	padding-left: 70px;
	margin-top:5px;
	margin-left:10%;
}

.push-img img
{
	width: 100px;
	height: 100px;
}

.action-type
{
	width: auto;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 10%;
	margin-right: 40%;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	border: solid 1px #545652;
	border-radius: 5px;
}

.target
{
	width: 100%;
	height: 30px;
	line-height: 30px;
	float: left;
}

.post-info label
{
	float: left;
	margin-right: 3px;
}

.url-target
{
	width: 100%;
	height: 30px;
	line-height: 30px;
	float: left;
}

.url-target a
{
	float: left;
	color: #545652;
	text-decoration: underline;
}

.url-target a:hover
{
	color: #545652;
}
