.login-form
{
	width: 80%;
	height: auto;
    margin: 0 auto;


}

.login-form > p
{
    margin-left: 48%;
    margin-bottom: 20px;
    font-size: 16px;
    color:#545652;
}

.logo
{
    width: 200px;
    margin: 100px auto 20px auto;
    font-size: 30px;
    font-weight: 500;
    color:#e23a6e;
}

.content
{
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.content-left
{
    float: left;
    padding-left: 25px;
    width: 45%;
    text-indent: 70%;
}

.content-left p
{
    margin-top:18px;
	font-size: 18px;
}

.content-right
{
   float: left;
   width: 45%;
}

.content-right input
{
    margin-top:20px;
	width: 40%;
	display: block;
}

.login-button
{
    float: left;
    width: 20%;
    height: 40px;
	margin-top:25px;
    color: #fff;
    font-size: 16px;
    border-color: transparent;
    background-color: #337ab7;
    border-radius: 5px;
}

.content-bottom
{
	margin-left: 50px;
	margin-top:25px;
	float: left;
	width: 100%;
	text-indent: 35%;
}
.content-bottom a
{
   margin-left: 10px;
   text-decoration: underline;
   color: black;
}

.content-bottom a:hover
{
   color: #bfbfbf;
}
