body
{
    margin-top: 10%;
}

p
{
    float: left;
    margin-left: 34%;
    color: #545652;
    font-size: 18px;
}

a
{
   float: left;
    margin-left: 50%;
    color: #545652;
    font-size: 18px;
}