 <div class="header" onscroll = "no">
        <div class="header-left">
            <div class = "nav">
                Home
            </div>
            <div class = "nav">
                Following
            </div>
            <div class = "nav">
                Favorite
            </div>
            <div class = "nav">
                Information
            </div>
        </div>
        <div class = "header-right">
            <a class = "logout" href="{% url 'ChasingSomeoneApp:user_logout' %}" >Logout</a>
        </div>
    </div>
