 <div class="header" onscroll = "no">
        <div class="header-left">
            <div class = "nav">
                <a href="{% url 'ChasingSomeoneApp:user_home' %}">Home</a>
            </div>
            <div class = "nav">
                <a href="{% url 'ChasingSomeoneApp:browse_following' %}">Following</a>
            </div>
            <div class = "nav">
                <a href="{% url 'ChasingSomeoneApp:user_home' %}">Favorite</a>
            </div>
            <div class = "nav">
                <a href="{% url 'ChasingSomeoneApp:user_home' %}">Information</a>
            </div>
        </div>
        <div class = "header-right">
            <a class = "logout" href="{% url 'ChasingSomeoneApp:user_logout' %}" >Logout</a>
        </div>
    </div>
