<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/informationUser.css" />
</head>
<body>

   {% include "ChasingSomeoneApp/header.html" %}

    <div class="title">
        <div class="title-1">ChasingSomeone</div>
        <div class="title-2">Overview</div>
    </div>
    <div class="content">
        <div class="content-item">
            <div class="item-left">Name:</div>
            <div class="item-right">charles</div>
        </div>

        <div class="content-item">
            <div class="item-left">Profile Picture:</div>
            <div class="item-right">
                <div class="profile-photo-small">
                    <img src = "../../static/img/profile_picture.png" alt="small profile picture">
                </div>
                <div class="profile-photo-large">
                    <img src = "../../static/img/profile_picture.png" alt="large profile picture">
                </div>
            </div>
        </div>

        <div class="content-item">
            <div class="item-left">Email:</div>
            <div class="item-right">Charleszhuochen@gmail.com</div>
        </div>

    </div>

</body>
</html>